name: Documentation

on:
  push:
    branches:
      - main
    tags: 
      - '*'
  pull_request:

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write
      statuses: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Julia
        uses: julia-actions/setup-julia@v2
        with:
          version: '1.11'

      - name: Restore Julia cache
        uses: actions/cache@v4
        with:
          path: ~/.julia
          key: ${{ runner.os }}-julia-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
           ${{ runner.os }}-julia-${{ hashFiles('**/Project.toml') }}
      - name: Download BLAS
        run: sudo apt install -y libopenblas-dev
      - name: Instantiate Julia environment
        run: julia --project=. -e 'using Pkg; Pkg.instantiate()'

      - name: Build package
        run: julia --project=. -e 'using Pkg; Pkg.build(); Pkg.precompile()'

      - name: Instantiate docs environment
        run: julia --project=docs -e 'using Pkg; Pkg.instantiate()'

      - name: Add local package to docs environment
        run: julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path="."))'

      - name: Build and deploy documentation
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: julia --project=docs docs/make.jl